img {
  float: right;
  width: 125px;
  height: 125px;
  margin-top: -18px;
}

.jumbotron {
  background-color: blanchedalmond;
  margin-top: 25px;
  border: 2px solid black;
  padding: 25px;
}

.jumbotron p {
  text-decoration: underline;
}

.about {
  border: 2px solid black;
  margin-bottom: 25px;
  padding: 25px;
  background-color: blanchedalmond;
}

.section {
  font-style: italic;
}

.card {
  border: 2px solid black;
  height: 425px;
  background-color: blanchedalmond;
}

ul li {
  -webkit-text-stroke: .2px white;
  font-style: bold;
  list-style: none;
  text-decoration: underline;
  text-align: right;
  padding-right: 10px;
  margin-left: 10px;
}

.adjustCardHeader {
  margin-right: 10px;
}

.gif img{
  width: 150px;
  height: 100px;
  border: 1px solid black;
  margin-left: -30px;
  margin-bottom: 5px;
}

ol li {
  margin-right: -10px;
  margin-left: -30px;
}

.footer {
  border: 2px solid black;
  background-color: blanchedalmond;
  margin-bottom: 25px;
  padding: 25px;
  margin: 15px;
}

body {
  font-size: 80%;
  background-color: black;
}

