img {
  float: left;
  width: 125px;
  height: 125px;
  margin-top: -18px;
}

.jumbotron {
  background-color: blanchedalmond;
  margin-top: 25px;
  border: 2px solid black;
  padding: 25px;
  color: darkred;
}

.jumbotron p {
  text-decoration: underline;
}

.about {
  border: 2px solid black;
  margin-bottom: 25px;
  padding: 25px;
  background-color: blanchedalmond;
}

.section {
  color: darkred;
  font-style: bold;
}

.card {
  border: 2px solid black;
  margin-left: 15px;
  background-color: blanchedalmond;
}

